
.jumbotron{

    background-color: yellow;
    color: black;
    margin-top: 50px;
    size: cm;   
    height: 100px;
}



footer{
    background-color: yellow;
    padding: 10px 10px 10px;    
    color: #000;       
    width: 100%;
    bottom: 0px;
   
    
}


.card-hotel{
    flex: 1 150px;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px 16px;
    margin-top: 2%;
    margin-bottom: 2%;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.btn {
   
  
    width: 100%;
}

.nav-tabs{
    padding-top: 10px;
    padding-bottom: 5px;
    
}

.img-fluid{
    padding-top: 10px;
}

#cont1{
    padding-bottom: 30px;
}