.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  size: cm;
  height: 100px; }

footer {
  background-color: #fffa19;
  padding: 10px 10px 10px;
  color: #000;
  width: 100%;
  bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }
  .card-hotel .breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px 16px;
    margin-top: 2%;
    margin-bottom: 2%;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem; }
  .card-hotel .btn {
    width: 100%; }
  .card-hotel .nav-tabs {
    margin-top: 10px;
    margin-bottom: 5px; }
  .card-hotel .img-fluid {
    padding-top: 10px; }
  .card-hotel #cont1 {
    padding-bottom: 30px; }
